@model MVC.Models.ListaClases

@{
    Layout = "_2DviewLY";
}

<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark caja-lateral">



    <div class="btn-group btn-group-justified botones-planta">
        @Html.ActionLink("Planta 1","Planta1","Home",null,new{@class="btn btn-primary boton-planta"})
        @Html.ActionLink("Planta 2","Planta2","Home",null,new{@class="btn btn-primary boton-planta"})
        @Html.ActionLink("Planta 3","Planta3","Home",null,new{@class="btn btn-primary boton-planta"})
    </div>

    <input type="search" class="form-control buscador" placeholder="Search" aria-label="Search"
    aria-describedby="search-addon" />

    <hr>
    <div class="barra-lateral">
        <ul class="nav nav-pills flex-column mb-auto caja-aulas-abajo">
            @foreach (var sala in Model.Salas)
            {
                <li>
                    <a href="@Url.Action("Edit", new { id = sala.url, name=sala.aula ,piso=ViewData["piso"]})" class="nav-link bi me-2 text-white" aria-current="page" width="16" height="16">
                        <img src="~/lib/imgs/@sala.imagen" class="img-aula" alt="" width="32" height="32">
                        @sala.aula
                    </a>
                </li>

            }
        </ul>
    </div>
    <hr>
        <a href="@Url.Action("LogOut", new { })" class="btn btn-danger" aria-current="page" width="16" height="16">
            LogOut
        </a>
    <hr>
    <a href="@Url.Action("Flechas", new { })" class="btn btn-primary" aria-current="page" width="16" height="16">
        Flechas
    </a>
    <hr>

</div>

<div class="contenedor-fondo">
    <img src="~/lib/imgs/Mapa_Planta_@(ViewData["piso"]).png" alt="mapa" id="mapa" usemap="#mapa">

    
</div>
@if(Model.name != null){
<div class="card " style="width:30%; position:absolute; right:0; ">
    @using (Html.BeginForm("Edit", "Home", FormMethod.Post, new { @class = "card-body cardbody-color p-lg-5" }))
    {
       
            
        @Html.TextBoxFor(x => x.id, new {@class = "form-control", @textindex = "3", @type = "hidden", @value=Model.id})
        <div class="mb-3 position-relative">
            <label>Nombre</label>
            @Html.TextBoxFor(a => a.name, new { @class = "form-control", @textindex = "1", @value=Model.name })
        </div>
        <div class="mb-3 position-relative">
            <label>Ruta</label>
            @Html.TextBoxFor(m => m.url, new {@class = "form-control", @textindex = "2"})
        </div>
        <div class="text-center"><button type="submit" class="btn btn-color px-5 mb-5 w-100">Editar</button></div>

       
    }
</div>
}