@model MVC.Models.ListaClases

@{
    Layout = "_2DviewLY";
}


<div class="d-flex flex-column flex-shrink-0 p-3 text-white bg-dark caja-lateral">

   

    <div class="btn-group btn-group-justified botones-planta">
    @Html.ActionLink("Planta 1","Planta1","Access",null,new{@class="btn btn-primary boton-planta"})
        @Html.ActionLink("Planta 2","Planta2","Access",null,new{@class="btn btn-primary boton-planta"})
        @Html.ActionLink("Planta 3","Planta3","Access",null,new{@class="btn btn-primary boton-planta"})
    </div>



    <input type="search" id="search-input" class="form-control buscador" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />


    <hr>
    <div class="barra-lateral">
        <ul class="nav nav-pills flex-column mb-auto caja-aulas-abajo">
             @foreach (var sala in Model.Salas)
            {
                <li class="nav-item enlace-aula">

                    <a href="@Url.Action("Fotoinicial", new { numero = sala.url, piso = sala.piso })" class="nav-link bi me-2 text-white" aria-current="page" width="16" height="16">
                        <img src="~/lib/imgs/@sala.imagen" class="img-aula" alt="" width="32" height="32">
                     @sala.aula
                 </a>
                </li>
            
            }



        </ul>
    </div>
    <hr>

</div>



<div class="contenedor-fondo">
    <img src="~/lib/imgs/Mapa_Planta_@(ViewData["piso"]).png" alt="mapa" id="mapa" usemap="#mapa">

    <map name="mapa">
        @foreach(var sala in Model.Salas){
            <area shape="rect" coords="@sala.cordenadas" href="@Url.Action("Fotoinicial", new { numero = sala.url,piso = sala.piso })" alt="mapa">
        }
    </map>


</div>

